# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and coverage
*.log
.coverage
htmlcov/

# OS files
.DS_Store
Thumbs.db

# Python docs & notebooks
.ipynb_checkpoints/

# IDE / tooling
.vscode/
.idea/
*.swp
*.swo
